#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE = 1

export PYBUILD_NAME=oauthlib
export export PYBUILD_TEST_ARGS=-k 'not test_rsa_bad_keys'
export PYTHONWARNINGS=d

%:
	dh $@ --buildsystem=pybuild
